{% extends 'base.html' %}
{% block content %}
<p>Welcome</p>

{% if user.is_authenticated %}
    <ul>
    {% for article in articles %}
        <li>{{article}}</li>
    {% empty %}
        <li>No articles</li>
    {% endfor %}
    </ul>
    <div>
    <a href="{% url 'article:new_article' %}">Add a new article</a>
    </div>
    <div>
        <a href="{% url 'users:logout' %}">log out</a>
    </div>
{% else %}
<div>
    <a href="{% url 'users:login' %}">Log in</a>
<div>
{% endif %}


{% endblock content %}
